{% extends "template.html" %}

{% block title %} 
Registration
{% endblock %}

{% block header %}
<h1>Register</h1>
{% endblock %}

{% block body %}
<form action="{{ url_for('register')}}" method="POST">
	{% if username %}
	<input type='text' name='username' value={{username}} />
	{% else %}
	<input type='text' name='username' placeholder="Username"/>
	{% endif %}
	<br/>
	<input type='password' name='password' placeholder="Password"/>
	<br/>
	{% if error_message %}
		<p class="error">{{ error_message }}</p>
	{% endif %}
	<p>Password must contain at least 10 characters and must include:
		<ul>
			<li>at least one number</li>
			<li>at least one lowercase letter</li>
			<li>at least one uppercase letter</li>
		</ul>
	</p>
	<button class='btn-primary' type='submit'>Submit</button>
</form>
{% endblock %}